* {
    font-family: "Poppins", sans-serif !important;
}

.lifted-box {
    padding: 0 !important;
    width: 100%;
}

main {
    padding: 6vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
}

h3, input, button {
    color: var(--purple-350);
}

#content button, #content input, label[for="file"], textarea {
    background-color: var(--pink-900);
    border-radius: 0.8em;
    box-shadow: 0 3px 3px 0 #8888;
    font-size: 0.9em;
    transition: box-shadow 0.2s;
    border: none;
}

button, input, p, label {
    color: var(--purple-300);
}

#content button:hover, #content input:hover, label[for="file"]:hover, textarea:hover {
    box-shadow: 0 4px 2px 0 #888C;
}

#content {
    margin: auto;
    max-width: 900px;

    display: grid;
    grid-template-columns: 2fr auto 3fr;
    column-gap: 2em;
    row-gap: 2em;
    padding: 0 1em
}

#left-side {
    grid-column: 1/2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1em;

    margin: 1.5em 0 0;
}

h3 {
    margin: 0;
}

#profile-pic {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 100%;
}

#left-side button {
    width: 100%;
    padding: 0.5em;

    background-color: var(--pink-900);
}

#middle-sep {
    grid-column: 2/3;
    align-self: center;

    height: 90%;
}

#middle-sep::after {
    content: "";
    display: block;

    width: 2px;
    height: 100%;
    margin: auto;

    background-color: var(--purple-350);
}

#right-side {
    width: 100%;
    grid-column: 3 /4;

    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(6, 5em);

    padding: 0.5em 0;
}

input {
    border: none;
    padding: 4px 1em;
    outline: none;
}

h1 {
    font-size: 36px;
    margin-top: 0;
    text-align: left;
}

fieldset {
    display: flex;
    flex-direction: row;
    outline: none;
    margin: 0;
    padding: 0;
    border: 0;
    gap: 10px;
}

button {
    border: none;
    cursor: pointer;
}

p:has(#id_first_name) {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 90%;
}

p:has(#id_last_name) {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 90%;
}

p:has(#id_username) {
    grid-row: 2/3;
    grid-column: 1/3;
}

p:has(#id_email) {
    grid-row: 3/4;
    grid-column: 1/3;
}

#right-side p {
    width: 100%;
}

textarea {
    resize: none;

    height: 100%;
    width: 95%;
    padding: 0.5em;
}

p:has(textarea) {
    grid-row: 4/6;
    grid-column: 1/3;
}

#right-side p * {
    display: block;
}

#right-side > label {
    grid-row: 4/5;
    grid-column: 1/2;
}

#right-side p input {
    width: 95%;
}

#right-side > select {
    grid-row: 4/5;
    grid-column: 2/3;
}

label {
    font-weight: 500;
}

#file {
    display: none;
}

label[for="file"] {
    width: 90%;
    padding: 0.5em;
    text-align: center;
}

.helptext {
    display: none !important;
}

#buttons {
    display: flex;
    justify-content: space-between;

    grid-row: 6/7;
    grid-column: 1/3;

    width: 70%;
    height: 50%
}

#buttons button {
    background-color: #EEE;
}

#buttons input {
    background-color: var(--purple-400);
    color: white;
}

#buttons * {
    height: 100%;
    width: 45%;
}

@media (max-width: 700px) {
    #content {
        grid-template-columns: unset;
        grid-template-rows: auto;
    }

    #left-side {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #middle-sep {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #middle-sep::after {
        width: 90%;
        height: 2px;
    }

    #right-side {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #right-side {
        margin-top: -2em;
        justify-self: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        width: 85%;
    }

    label[for="file"] {
        width: 85%;
    }
}

@media (max-width: 550px) {
    .lifted-box {
        margin-top: 3em !important;
    }

    main {
        padding-left: 3vw;
        padding-right: 3vw;
    }
}