.lifted-box {
    width: calc(100% - 8em);
    max-width: 800px;
    margin-top: 4em !important;
}

#profile-pic {
    border-radius: 100%;
    max-width: 150px;
    width: 90%;
}

#top-content, .lifted-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, a, span, h2 {
    color: var(--purple-300);
    font-weight: 600;
    margin: 0;
}

#username {
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 0.5em;
}

#firstname {
    font-size: 1.1em;
    margin-top: 0.25em;
}

#follow {
    display: flex;
    justify-content: center;
    column-gap: 1em;
    margin-top: 0.5em;

    font-size: 1.2em;
}

#follow * {
    color: var(--purple-200);
    text-decoration: underline;
    font-weight: 400;
}

#follow span {
    font-weight: 600;
}

#bio {
    width: 90%;
    max-width: 400px;
    margin-top: 1.5em;
    padding: 1em;

    background-color: var(--pink-950);
    box-shadow: -4px 4px 2px 1px #8888;
    border-radius: 01em;
}

#bio p {
    font-weight: 600;
    font-size: 1.1em;
}

#bio-text {
    margin-top:0.7em;

    color: var(--purple-350);
    font-weight: 500;
    font-size: 0.9em;
}

#posts h2 {
    margin: 0;

    align-self: flex-start;
    text-align: left;
    font-size: 1.3em;
}

@media (max-width: 600px) {
    #profile-pic {
        width: 125px;
    }

    #follow {
        flex-direction: column;
        row-gap: 0.3em;
        margin-top: 1em;
    }

    #bio {
        max-width: unset;
        width: 100%;
    }

    .lifted-box {
        margin-top: 6em !important;
        max-width: unset;
        width: 90%
    }

    #posts {
        margin-top: 1.5em !important;
    }
}