<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/Waitlist/landing_page.css">
  <title>Aviquo</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Young+Serif&family=Roboto+Slab:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body id="App">
  <header class="w-85">

    <img
      src="https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaAdFGf5kke7t5ANvi-jkvH9YOWafnqatz8d5yUfg6SWX_vuc1NsiAx0X0DuhpqJCATZiwXiPgFGGytJFpgCoiLzO0aXkQ=w3584-h2070"
      alt="AVQ" id="main-logo">
    <h1>Aviquo</h1>
    <h3>
      <span class="h3-bigger" , style="color: #804c74;">Fly High</span>
      <span>with us</span>
    </h3>
    <nav>
      <form action="" method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email Address" id="wl-email" />
        <input type="submit" value="Join Waitlist" id="wl-submit" />
      </form>
    </nav>
  </header>
  <main class="w-85">
    <section id="sponsors">
      <aside>
        <h5>backed by students from:</h5>
      </aside>
      <figure>
        <img src="https://cdn.freebiesupply.com/images/large/2x/mit-logo-transparent.png">
        <figcaption>MIT</figcaption>
      </figure>
      <figure>
        <img src="https://seeklogo.com/images/S/stanford-cardinal-logo-8BF3F4F539-seeklogo.com.png">
        <figcaption>Stanford</figcaption>
      </figure>
      <figure>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/University_of_Chicago_Coat_of_arms.png">
        <figcaption>UChicago</figcaption>
      </figure>
      <figure>
        <img src="https://seeklogo.com/images/C/cornell-logo-BA6000C172-seeklogo.com.png">
        <figcaption>Cornell</figcaption>
      </figure>
    </section>
    <article id="quote-text">
      <p>
        made by people like <span class="big-text">you.</span><br>
        <span class="small-text">we realize how hard student life is</span><br>
        we went through it ourselves.<br>
        <span class="small-text">that's why we are here to help you</span><br>
        <span class="h3-bigger" , style="color: #804c74;">Fly High</span>
      </p>

    </article>
    <article id="introducing">
      <h5>Introducting</h5>
      <h2>Aviquo</h2>
      <h1>We will help you with:</h1>
    </article>
    <article id="product-boxes">
      <div class="product-box">
        <h5>Future careers</h5>
        <p>Unlock your career's full potential with our comprehensive resources. From expert career guidance to
          personalized skill development, we're here to support your journey to success. discover the tools
          you need to shape a brighter future today.</p>
        <a onclick="join_the_soviet_union()" class="link-button">learn more</a>
      </div>
      <div class="product-box center-box">
        <h5>Extracurriculars</h5>
        <p>Elevate your extracurricular experience with our extensive resources. Whether you're a student
          looking to boost your resume or an enthusiast pursuing a passion project, we provide the support you
          need to excel.</p>
        <a onclick="join_the_soviet_union()" class="link-button">learn more</a>
      </div>
      <div class="product-box">
        <h5>College applications</h5>
        <p>Empower your college application journey with our invaluable resources. From AI-powered guidance on
          crafting standout essays to comprehensive application strategies, we are here
          to help you secure a spot in your dream college</p>
        <a onclick="join_the_soviet_union()" class="link-button">learn more</a>
      </div>
    </article>
    <section id="wip">
      <h6>That's not all</h6>
      <p>academics, forums, time-managment</p>
    </section>
    <section id="are-ya-ready-kids">
      <h3 onclick="join_the_soviet_union()">Ready? Join the <span id="soviet">Waitlist</span></h3>
    </section>
    <section id="discord">
      <aside id="join-our-discord">
        <h3>join our discord!</h3>
      </aside>
      <a href="https://discord.gg/FsfHAffXNk" target="_blank" clas="" i>
        <img src="https://static-00.iconduck.com/assets.00/discord-icon-2048x2048-nnt62s2u.png" id="discord-icon">
        <p>recieve updates, connect with other high schoolers and join a tight-knit community!</p>
      </a>
    </section>
  </main>
  <footer>
    <h4><a onclick="join_the_soviet_union()" class="link-button">Follow us!</a></h4>
    <div id="icons">
      <a href="https://www.linkedin.com/company/aviquo" target="_blank"><i
          class="fa fa-linkedin-square"></i>Linkedin</a>
      <a href="https://www.youtube.com/@Aviquo_" target="_blank"><i class="fa fa-youtube-play"></i>Youtube</a>
      <a href="https://www.instagram.com/aviquo_/" target="_blank"><i class="fa fa-instagram"></i>Instagram</a>
      <a href="https://twitter.com/Aviquo_" target="_blank"><i class="fa fa-twitter"></i>Twitter</a>
    </div>
    <div id="bottom">
      <a class="bigger-text" onclick="join_the_soviet_union()">questions?</a>
      <p class="smaller-text">contact: <a href="mailto:aviquocompany@gmail.com">aviquocompany@gmail.com</a></p>
    </div>
    <div id="copy">
      <p>&copy 2023 aviquo<br>all rights reserved</p>
    </div>
  </footer>
</body>
<script>
  let tl = gsap.timeline({
    defaults: {
      duration: 0.15
    }
  });

  gsap.registerPlugin(EaselPlugin);
  gsap.registerPlugin(ScrollToPlugin);
  gsap.registerPlugin(ScrollTrigger);

  function join_the_soviet_union() {
    console.log("clicked")
    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    });
  }

</script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollToPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/EaselPlugin.min.js"></script>

</html>