@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: inherit;
}

@media (max-width: 600px) {
  :root {
    --main-title-font-size: calc(5px + 14vw);
    --main-subtitle-font-size: calc(1px + 4vw);
    --head-pad-top: 60px;
    --head-pad-bottom: 80px;
    --nav-bottom-pad: calc(0.3px + 1.3vw);
    --wl-font-size: calc(1.5vw + 3px);
    --wl-padd-size: calc(1.5vw + 3px);
    --wl-email-width: 60%;
    --wl-submit-width: 35%;
    --form-just: space-between;
    --spon-pad: 20px;
    --spon-box-shadow-size: 5px;
    --spon-aside-vert-padd: 1vw;
    --spon-aside-head-size: calc(1.6vw + 8px);
    --figcaption-font-size: calc(6px + 2vw);
    --fig-img-height: calc(25px + 10vw);
    --quote-pad: 10vh;
    --quote-p: calc(4px + 3vw);
    --quote-small: 0.8em;
    --quote-big: 1.2em;
    --intro-h5: 3vw;
    --intro-h2: var(--main-title-font-size);
    --product-box-h5: 2.6vw;
    --product-box-h5-marg-top: 10px;
    --product-box-p: 1.6vw;
    --product-box-a: 3vw;
    --product-box-a-pad: 3px;
    --product-box-a-width: 80%;
    --wip-h6: 4vw;
    --wip-p: 3vw;
    --ready-width: 85%;
    --ready-marg-top: 0;
    --ready-fs: calc(2vw + 5px);
    --discord-h3: 8vw;
    --discord-icon-size: 15vw;
    --discord-pad: 25px;
    --discord-pad-top: 40px;
    --discord-fs: calc(2vw + 4px);
    --icons-justify: space-evenly;
    --copy: 1.5vw;
  }
}
@media (min-width: 601px) {
  :root {
    --main-title-font-size: calc(10px + 8vw);
    --main-subtitle-font-size: calc(5px + 2vw);
    --head-pad-top: 80px;
    --head-pad-bottom: 150px;
    --nav-bottom-pad: 1vw;
    --wl-font-size: calc(0.8vw + 8px);
    --wl-padd-size: calc(1vw + 6px);
    --wl-email-width: 60%;
    --wl-submit-width: 20%;
    --form-just: space-evenly;
    --spon-pad: 50px;
    --spon-box-shadow-size: 15px;
    --spon-aside-vert-padd: 2vw;
    --spon-aside-head-size: 40px;
    --figcaption-font-size: calc(10px + 1.5vw);
    --fig-img-height: calc(30px + 6vw);
    --quote-pad: 25vh;
    --quote-small: calc(1px + 1.5vw);
    --quote-p: calc(2px + 2.5vw);
    --quote-big: calc(3px + 2vw);
    --intro-h5: 2vw;
    --intro-h2: 7vw;
    --product-box-h5: 2vw;
    --product-box-h5-marg-top: 20px;
    --product-box-p: 1.1vw;
    --product-box-a: 1.3vw;
    --product-box-a-pad: 12px;
    --product-box-a-width: 60%;
    --wip-h6: 2.2vw;
    --wip-p: 1.7vw;
    --ready-width: 50%;
    --ready-marg-top: 20px;
    --ready-fs: calc(1.8vw + 5px);
    --discord-h3: 3vw;
    --discord-icon-size: 12vw;
    --discord-pad: 3vw 10vw;
    --discord-pad-top: 60px;
    --discord-fs: calc(1.8vw + 3px);
    --icons-justify: center;
    --copy: 6px;
  }
}
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--head-pad-top) 0 var(--head-pad-bottom);
  background: linear-gradient(#1c133b 60%, #B37F9C);
}
header h1 {
  margin: 0;
  color: #FFD3E6;
  font-size: var(--main-title-font-size);
}
header h3 {
  margin: 0;
  color: #F6EDFF;
  font-size: var(--main-subtitle-font-size);
  font-weight: 600;
  white-space: nowrap;
}
header h3 span {
  width: fit-content;
  display: inline-block;
}
header h3 .h3-bigger {
  font-size: var(--main-big-subtitle-font-size);
  color: #804c74;
}
header form {
  width: 70%;
  height: fit-content;
  display: flex;
  justify-content: var(--form-just);
  margin-top: 30px;
  font-size: var(--wl-font-size);
}
header form input {
  height: 3em;
  border: none;
  border-radius: 15px;
  font-size: var(--wl-font-size);
  font-weight: 500;
  box-shadow: -3px 3px 3px 1px #402c4c;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, z-index 0.3s;
}
header form #wl-email {
  width: var(--wl-email-width);
  padding: var(--padd-size);
  padding-left: 3vw;
  background-color: #ffcfcf;
}
header form #wl-submit {
  width: var(--wl-submit-width);
  background-color: #805c9c;
  color: white;
  text-align: center;
}
header form input::placeholder {
  color: #805c9c;
}
header form input:hover,
header form #wl-email:focus {
  box-shadow: -4px 4px 3px 2px #1c133b;
}
header form #wl-submit:hover {
  cursor: pointer;
}

main {
  background: linear-gradient(#B37F9C 1%, #775967 10vw, #775967 15vw, #804c74 20vw);
  width: 100vw;
  min-height: 100vw;
}
main #sponsors {
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: var(--spon-pad) 0;
  margin-top: var(--spon-top);
  background-color: #ffcfcf;
  box-shadow: 0 2px 10px #1c133b;
}
main #sponsors aside {
  position: absolute;
  display: inline-block;
  left: 0;
  top: -1.8em;
  background-color: #ffcfcf;
  color: rgb(99, 68, 89);
  border-right: var(--aside-calc) solid transparent;
  border-bottom: var(--aside-calc) solid #ffcfcf;
  border-top-right-radius: 2vw;
  font-size: var(--spon-aside-head-size);
}
main #sponsors aside h5 {
  display: inline-block;
  height: fit-content;
  padding: 0 1em;
  margin: 0;
  font-weight: 700;
  line-height: 2.5em;
}
main #sponsors figure {
  display: flex;
  width: 16%;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 350px) {
  main #sponsors figure {
    width: 40%;
    margin: 6px 0;
  }
}
main #sponsors figure img {
  height: var(--fig-img-height);
  max-width: 90%;
  object-fit: contain;
}
@media (max-width: 350px) {
  main #sponsors figure img {
    height: 24vw;
  }
}
main #sponsors figure figcaption {
  margin-top: 10px;
  color: #1c133b;
  font-size: var(--figcaption-font-size);
  font-family: "Young Serif", serif;
}
main article#quote-text {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: var(--quote-pad) 0 var(--quote-pad);
  background: radial-gradient(rgba(255, 221, 221, 0.4) 15%, transparent 60%), linear-gradient(#775967, transparent 30%, transparent 70%, #804c74 100%), radial-gradient(#fdd 15%, #775967);
}
main article#quote-text p {
  width: fit-content;
  margin: 0;
  color: #402c4c;
  font-size: var(--quote-p);
  font-weight: 500;
  text-align: center;
}
main article#quote-text p .small-text {
  font-weight: 400;
  font-size: var(--quote-small);
}
main article#quote-text p .big-text {
  font-weight: 600;
  font-size: var(--quote-big);
}
main article#introducing {
  margin: 0;
  background-color: #804c74;
  text-align: center;
}
main article#introducing h5 {
  margin: 0;
  color: white;
  font-size: var(--intro-h5);
}
main article#introducing h2 {
  margin: 0 0 15px 0;
  color: #FFD3E6;
  font-size: var(--intro-h2);
}
main #product-boxes {
  background: #804c74;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
@media (max-width: 350px) {
  main #product-boxes {
    flex-direction: column;
    align-items: center;
  }
}
main #product-boxes .product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 27%;
  min-height: 20vh;
  border-radius: 3vw;
  background-color: rgb(204, 173, 190);
  transform: scale(1);
  transition: transform 0.5s, background 0.5s;
  box-shadow: -5px 5px 4px 2px #402c4c;
}
@media (max-width: 350px) {
  main #product-boxes .product-box {
    width: 90%;
    margin: 10px 0 0 0;
  }
}
main #product-boxes .product-box h5 {
  margin: 0;
  margin-top: var(--product-box-h5-marg-top);
  color: #775967;
  font-size: var(--product-box-h5);
  font-weight: 700;
  text-align: center;
}
main #product-boxes .product-box p {
  width: 85%;
  font-size: var(--product-box-p);
  text-align: justify;
}
main #product-boxes .product-box a {
  width: var(--product-box-a-width);
  padding: var(--product-box-a-pad);
  margin-bottom: calc(var(--product-box-h5-marg-top) + 10px);
  border-radius: 1.2vw;
  background-color: #904c7c;
  color: white;
  font-size: var(--product-box-a);
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  box-shadow: -2px 2px 3px 1px #402c4c;
}
@media (max-width: 350px) {
  main #product-boxes .product-box h5 {
    font-size: 5vw;
  }
  main #product-boxes .product-box p {
    font-size: 3.5vw;
  }
}
@media (min-width: 351px) {
  main #product-boxes .product-box:first-child {
    margin-left: 2vw;
  }
  main #product-boxes .product-box:last-child {
    margin-right: 2vw;
  }
}
main #product-boxes .product-box:nth-of-type(2) {
  transform: scale(1.1);
  background: #ffcfcf;
}
main #wip {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #804c74;
  border: 1px solid transparent;
  padding-bottom: 30px;
}
main #wip h6 {
  color: #FFD3E6;
  margin-top: 25px;
  margin-bottom: 0;
  font-size: var(--wip-h6);
}
main #wip p {
  margin-top: 5px;
  color: white;
  font-size: var(--wip-p);
  text-align: center;
  font-weight: 500;
}
main #are-ya-ready-kids {
  width: var(--ready-width);
  margin: auto;
  margin-top: var(--ready-marg-top);
  font-size: var(--ready-fs);
  text-align: center;
  color: #804c74;
}
main #are-ya-ready-kids h3 {
  margin: 0;
  border-radius: 15px;
  padding: 15px;
  background-color: #ffcfcf;
  transform: scale(1);
  transition: all 0.05s;
  box-shadow: -4px 4px 3px 1px #402c4c;
}
main #are-ya-ready-kids h3 #soviet {
  color: red;
}
main #are-ya-ready-kids h3:hover {
  transform: scale(1.1);
}
main section#discord {
  background: #804c74;
  padding-top: var(--discord-pad-top);
}
main section#discord aside#join-our-discord {
  position: relative;
  left: calc(-0.5 * var(--spon-extra-width));
  width: calc(100% + var(--spon-extra-width));
  margin-bottom: 10px;
  padding: 15px;
  background-color: #ffcfcf;
  box-shadow: 0 5px 5px #1c133b;
}
main section#discord aside#join-our-discord h3 {
  font-size: var(--discord-h3);
  text-align: center;
  color: #904c7c;
  margin: 0;
}
main section#discord a {
  padding: var(--discord-pad);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: linear-gradient(#804c74, #775967);
  text-decoration: none;
}
main section#discord a img {
  border-radius: 15%;
  box-shadow: -5px 5px 10px 3px #402c4c;
  width: var(--discord-icon-size);
  height: var(--discord-icon-size);
}
main section#discord a p {
  width: 50vw;
  color: white;
  font-weight: 600;
  font-size: var(--discord-fs);
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  background: linear-gradient(#ffcfcf, #e6afed 130%);
}
footer h4 {
  font-size: 1.5rem;
  width: fit-content;
}
footer h4 a {
  color: #904c7c;
}
footer h4 a::before,
footer h4 a::after {
  content: " • ";
}
footer #icons {
  display: flex;
  width: 80%;
  justify-content: var(--icons-justify);
  font-size: 30px;
}
footer #icons i {
  color: #402c4c;
  margin: 0 10px;
}
footer #bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
footer #bottom .bigger-text {
  color: #904c7c;
  font-weight: 600;
  font-size: calc(5px + 1vw);
}
footer #bottom .smaller-text,
footer #bottom .smaller-text a {
  color: #904c7c;
  font-weight: 500;
  font-size: calc(3px + 1vw);
}
footer #copy {
  position: absolute;
  bottom: 0;
  left: 5px;
  color: #402c4c;
  font-size: var(--copy);
  text-align: center;
}

/*# sourceMappingURL=landing_page.css.map */
