:root {
    --pink-950: #FFF6F7;
    --pink-900: #F6EDFF;

    --purple-200: #311041;
    --purple-300: #471360;
    --purple-350: #6A3D64;
    --purple-400: #6C4889;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-size: inherit;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;

    width: fit-content;
    z-index: 100;
}

.navbar div {
    width: 3.6em;
    padding: 0.5em 0.8em;
    background-color: white;
}

.navbar img {
    width: 2em;
    height: auto;
}

.navbar::after {
    content: "";

    border: 0 solid white;
    border-width: 0 0 4em 3.65em;
    border-color: transparent transparent transparent white;
}

.lifted-box {
    margin: auto;
    padding: 2em;

    background-color: white;
    box-shadow: -7px 7px 2px 0 #8888;
    border-radius: 25px;
}

.header-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1.5em;
    background-color: var(--purple-350);
}

@media (max-width: 550px) {
    .navbar {
        flex-direction: row;
        justify-content: center;
        column-gap: 1em;

        padding: 0.3em;
        width: 100vw;
        background-color: var(--pink-900);

        box-shadow: 0 5px 4px var(--purple-350)
    }

    .navbar img {
        width: auto;
        height: 2em;
    }

    .navbar div {
        background-color: unset;
    }

    .navbar::after {
        content: none;
    }
}

@media (max-width: 400px) {
    .navbar {
        column-gap: 0;
    }
}