html, body {
    margin: 0;
    padding: 0;

    background-color: var(--pink-950);
    font-family: "Inter", sans-serif;
}

@media (max-width: 500px) {
    html, body {
        font-size: 14px;
    }
}

header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 6em;
}

#logo-wrap {
    height: 40%;
    margin-left: 3%;
}

#logo {
    height: 100%;

    object-fit: contain;
}

#form-bg {
    width: 90%;
    max-width: 22em;

    margin: auto;
    padding: 2em;

    background-color: white;
    box-shadow: -7px 7px 2px #8888;
    border-radius: 25px;
}

@media (min-width: 600px) {
    #form-bg {
        marg-top: calc(25vh-8em);
    }
}

h1, label, a {
    color: var(--purple-350);
}

h1 {
    margin: 0;
    font-weight: 600;
    font-size: 2em;
}

form {
    margin-top: 1em;
}

label {
    display: block;

    font-size: 1.1em;
    font-weight: 500;

    margin-top: 1.5em;
}

input[type="text"], input[type="password"] {
    display: block;

    width: 100%;
    height: 2.3em;

    margin: 0.2em 0;
    padding: 0 1em;

    border: none;
    border-radius: 0.6em;

    background-color: #F0F0F0;
}

input[type="submit"] {
    width: 100%;
    padding: 0.6em;

    margin-top: 2em;
    border: none;
    border-radius: 0.6em;

    background-color: var(--purple-400);
    color: white;

    font-weight: 600;

    box-shadow: -4px 4px 3px #AAAA;
}

.forgot {
    display: block;
    font-size: 0.7em;
}

#need {
    display: block;

    margin: auto;
    margin-top: 2.5em;
    margin-bottom: 0.5em;

    text-align: center;

    font-size: 0.9em;
    font-weight: 600;
}