@keyframes other-thing {
    0% {
        background-position-x: -150%;
    }

    100% {
        background-position-x: 150%;
    }
}

body {
    background: repeating-linear-gradient(90deg,
            hsl(0, 100%, 90%),
            hsl(30, 100%, 90%),
            hsl(60, 100%, 90%),
            hsl(120, 100%, 90%),
            hsl(240, 100%, 90%),
            hsl(270, 100%, 90%),
            hsl(0, 100%, 90%) 25%);


    animation: 3s linear 0s infinite other-thing;
    background-size: 600% 100% !important;
}