<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/accounts/accounts.css">

    {% include 'imports/fonts.html' %}
    {% include 'imports/jquery.html' %}
    {% include 'imports/gsap.html' %}
    {% include 'imports/components.html' %}
</head>

<body>
    <header>
        <div id="logo-wrap"><img src="/static/logo.png" id="logo"></div>
    </header>
    <main>
        <div id="form-bg">
            <h1>{% block header %}{% endblock %}</h1>
            <form action="{% block action %}{% endblock %}" method="post">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
                {% block inputs %}{% endblock %}
                <input type="submit" value="{% block button %}{% endblock %}">
            </form>
            {% block link %}{% endblock %}
        </div>
    </main>
    <script src="/static/accounts/accounts.js"></script>
</body>

</html>