{% extends "components/box_page.html" %}
<!DOCTYPE html>
<html lang="en">
{% block title %}{% block the_title %}{% endblock %}{% endblock %}</title>

{% block head %}
<link rel="stylesheet" href="/static/accounts/accounts.css">
{% endblock %}


{% block content %}
<h1>{% block header %}{% endblock %}</h1>
<form method="post">
    {% csrf_token %}
    {% for input in form %}
    {{ input.label_tag }}
    {{ input }}
    {% endfor %}
    {% block buttons %}{% endblock %}
</form>
{% block link %}{% endblock %}
{% endblock %}

{% block after_content %}
<script src="/static/accounts/accounts.js"></script>
{% endblock %}