{% extends "components/box_page.html" %}
<!DOCTYPE html>
<html lang="en">
{% block title %}{% block the_title %}{% endblock %}{% endblock %}</title>

{% block head %}
<link rel="stylesheet" href="/static/accounts/accounts.css">
{% endblock %}


{% block content %}
<h1>{% block header %}{% endblock %}</h1>
<form action="{% block action %}{% endblock %}" method="post">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required
        id="id_username">
    {% block inputs %}{% endblock %}
    <input type="submit" value="{% block button %}{% endblock %}">
</form>
{% block link %}{% endblock %}
{% endblock %}

{% block after_content %}
<script src="/static/accounts/accounts.js"></script>
{% endblock %}