{% extends "accounts/account_template.html" %}

{% block title %}Login{% endblock %}
{% block header %}LOGIN{% endblock %}
{% block action %}/login{% endblock %}
{% block button %}LOGIN{% endblock %}
{% block link %}<a href="/singup/" id="need">Need to create an account?</a>{% endblock %}
{% block inputs %}
<label for="password">Password</label>
<input type="password" name="password" autocomplete="current-password" required id="id_password">
<a href="/password_reset/" class="forgot">Forgot password?</a>
{% endblock%}