{% extends "accounts/account_template.html" %}

{% block title %}Sign Up{% endblock %}
{% block header %}SIGN UP{% endblock %}
{% block action %}/signup{% endblock %}
{% block button %}SIGN UP{% endblock %}
{% block link %}<a href="/login" id="need">Already have an account?</a>{% endblock %}
{% block inputs %}
<label for="password">Password</label>
<input type="password" name="password1" autocomplete="new-password" required id="password">
<label for="password2">Confirm Password</label>
<input type="password" name="password2" autocomplete="new-password" required id="password2">
{% endblock%}