.lifted-box {
    width: calc(100% - 8em);
    max-width: 800px;
    margin-top: 4em !important;
}

#top-content, .lifted-box {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#posts h2 {
    margin: 0;

    align-self: flex-start;
    text-align: left;
    font-size: 1.3em;
}

@media (max-width: 600px) {

    #follow {
        flex-direction: column;
        row-gap: 0.3em;
        margin-top: 1em;
    }


    .lifted-box {
        margin-top: 6em !important;
        max-width: unset;
        width: 90%
    }

    #posts {
        margin-top: 1.5em !important;
    }
}