* {
    box-sizing: border-box;
    font-family: inherit;
    //border: 1px solid white;
}

$light-pink: #ffcfcf;
$less-light-pink: #ffbaba;
$more-light-pink: #ffd3e6;
$purple: #805c9c;
$more-purple: #904c7c;
$even-more-purple: rgb(99, 68, 89);
$dark-purple: #402c4c;
$light-purple: #e6afed;
$primary-1: #1c133b;
$primary-2: #b37f9c;
$primary-3: #775967;
$primary-4: #804c74;

@media (max-width: 600px) {
    :root {
        --product-box-h5-marg-top: 10px;
        --product-box-a-pad: 3px;
        --product-box-a-width: 80%;

        --discord-icon-size: 20vw;
    }
}

@media (min-width: 601px) {
    :root {
        --product-box-h5-marg-top: 20px;
        --product-box-a-pad: 12px;
        --product-box-a-width: 60%;

        --discord-icon-size: 30vh;
    }
}

html {
    @media (min-width: 601px) {
        font-size: calc(0.5vw + 9px);
    }
    @media (max-width: 600px) {
        font-size: calc(1.4vw + 3px);
    }
}

body {
    width: 100vw;

    padding: 0;
    margin: 0;

    font-family: "Poppins", sans-serif;
    font-weight: 400;

    overflow-x: hidden;
    overflow-y: hidden;
}

#wrap {
    background: linear-gradient(
        $primary-1 80vh,
        $primary-2 132.5vh,
        $primary-3 200vh,
        $primary-3 255vh,
        $primary-4 255vh,
        $primary-4 420vh,
        $primary-2 425vh,
        $primary-2 525vh
    );
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    h1 {
        margin: 0;

        color: $more-light-pink;
        font-size: 6em;
    }

    h3 {
        margin: 0;

        color: #f6edff;

        font-size: 2em;
        font-weight: 600;

        white-space: nowrap;

        span {
            width: fit-content;
            display: inline-block;
        }
    }

    form {
        width: 30em;
        height: fit-content;

        display: flex;
        justify-content: space-between;

        margin-top: 15em;

        font-size: 1.2em;

        input {
            height: 3em;

            border: none;
            border-radius: 0.5em;

            font-weight: 500;
            font-size: 1em;

            box-shadow: -3px 3px 3px 1px $dark-purple;

            transition: background 0.3s, color 0.3s, box-shadow 0.3s,
                z-index 0.3s;
        }

        #wl-email {
            width: 60%;
            padding: var(--padd-size);
            padding-left: 1em;
            background-color: $light-pink;
        }

        #wl-submit {
            width: 30%;

            background-color: $purple;
            color: white;

            text-align: center;
        }

        input::placeholder {
            color: $purple;
        }

        input:hover,
        #wl-email:focus {
            box-shadow: -2px 2px 2px 1px $primary-2;
        }

        #wl-submit:hover {
            cursor: pointer;
        }
    }
}

main {
    width: 100vw;
}

#sponsors {
    position: relative;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 35vh;
    margin: 20vh 0 0 0;

    border: 5px solid $light-pink;
    background-color: $light-pink;
    box-shadow: 0 2px 10px $primary-1;

    font-size: 2em;

    aside {
        --aside-height: 1.8em;

        position: absolute;
        display: inline-flex;

        height: var(--aside-height);

        left: -5px;
        top: calc(-1 * var(--aside-height));

        color: $even-more-purple;

        vertical-align: middle;

        h5 {
            display: flex;
            align-items: center;
            height: 100%;

            padding: 0 1em;
            margin: 0 0 2vh 0;

            background-color: $light-pink;

            font-weight: 700;
            vertical-align: middle;
        }
    }

    aside::after {
        content: "";
        display: inline-block;
        border-right: var(--aside-height) solid transparent;
        border-bottom: var(--aside-height) solid $light-pink;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        width: 20%;
        height: 30vh;
        max-height: calc(20vh + 5vw);

        margin: 0;
        padding: 0 2%;

        background-color: #ffdada;
        box-shadow: -2px 2px 3px 2px #daa;
        border-radius: 0.3em;

        img {
            margin: auto;
            padding-top: 10px;

            width: auto;
            height: calc(10vh + 5vw);
            object-fit: contain;
        }

        img.MIT {
            width: 100%;
            height: auto;
        }

        figcaption {
            margin-bottom: 10px;
            color: $primary-1;

            font-size: 0.9em;
            font-family: "Young Serif", serif;

            justify-self: flex-end;
        }
    }
}

article#quote-text {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    height: 100vh;
    margin: 0;

    background: radial-gradient(#fdd6 15%, transparent 60%),
        linear-gradient(
            transparent,
            -10%,
            $primary-3 0%,
            transparent 20%,
            transparent 80%,
            $primary-4 100%
        ),
        radial-gradient(#fdd 15%, $primary-3);

    p {
        width: fit-content;
        height: fit-content;
        margin: auto;

        color: $dark-purple;

        font-size: 2.3em;
        line-height: 2em;
        font-weight: 500;
        text-align: center;

        .small-text {
            font-weight: 400;
            font-size: 0.7em;
        }

        .big-text {
            font-weight: 600;
            font-size: 1.4em;
        }
    }
}

article#introducing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 60vh;

    margin: 0;

    text-align: center;

    h5 {
        margin: 0;
        color: white;

        font-size: 2.5em;
    }

    h2 {
        margin: 0;

        color: $more-light-pink;

        font-size: 6.5em;
    }
}

#section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

#product-boxes {
    display: flex;
    justify-content: space-around;

    height: 70vh;
    padding-top: 10vh;

    .product-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        width: 27%;
        min-height: calc(30em - 5vw);
        max-hegiht: 50vh;
        margin: auto;

        border-radius: 3vw;

        background-color: rgb(204, 173, 190);

        transform: scale(1);
        transition: transform 0.5s, background 0.5s;

        box-shadow: -5px 5px 4px 2px $dark-purple;

        h5 {
            margin: 0;
            margin-top: 1em;

            color: $primary-3;

            font-size: 1.2em;
            font-weight: 700;
            text-align: center;
        }

        p {
            width: 85%;

            font-size: 0.95em;
            text-align: justify;
        }

        a {
            width: var(--product-box-a-width);

            padding: var(--product-box-a-pad);
            margin-bottom: 1.5em;

            border-radius: 1.2vw;

            background-color: $more-purple;
            color: white;

            font-size: 1.2em;
            text-align: center;
            text-decoration: none;

            font-weight: 400;

            box-shadow: -2px 2px 3px 1px $dark-purple;
        }
    }

    .product-box:nth-of-type(2) {
        transform: scale(1.1);
        background: $light-pink;
    }
}

#wip {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 30vh;

    border: 1px solid transparent;

    h6 {
        color: $more-light-pink;

        margin-top: 25px;
        margin-bottom: 0;

        font-size: 1.5em;
    }

    p {
        margin-top: 5px;

        color: white;

        font-size: 1.7em;
        text-align: center;
        font-weight: 500;
    }
}

section#discord {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 20vh 35vh;
    row-gap: 5vh;

    height: 70vh;
    width: 100%;

    padding-top: 5vh;

    aside#join-our-discord {
        display: flex;
        align-content: center;

        width: 100%;
        height: 20vh;

        background-color: $light-pink;

        box-shadow: 0 2px 4px 1px $primary-3;

        h3 {
            font-size: 4em;
            text-align: center;

            color: $more-purple;

            margin: auto;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: space-around;

        width: 80vw;
        height: 35vh;

        background-color: linear-gradient($primary-4, $primary-3);
        text-decoration: none;

        img {
            border-radius: 15%;
            box-shadow: -5px 5px 10px 4px $primary-3;
            width: var(--discord-icon-size);
            height: var(--discord-icon-size);
        }

        p {
            width: 45vw;

            color: white;

            font-weight: 600;
            font-size: 1.4em;
        }
    }
}

footer {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;

    height: 30vh;
    padding: 15px 0;

    border: 1px solid transparent;
    background: linear-gradient($light-pink, $light-purple 200%);
    box-shadow: 0 -2px 4px 1px $primary-3;

    #icons {
        grid-column-start: 1;
        grid-column-end: 3;

        display: flex;
        width: 60%;
        max-width: 500px;

        justify-content: space-evenly;

        font-size: 3em;

        i {
            color: $dark-purple;
            margin: 0 10px;
        }
    }

    img {
        justify-self: right;
        width: 7vw;
        height: auto;
        margin-right: 2.5vw;
    }

    #copy {
        justify-self: left;
        color: $dark-purple;
        margin-left: 2.5vw;

        font-size: 0.8em;
        text-align: center;
        font-weight: 600;

        a {
            color: $dark-purple;
        }
    }
}
/*
header, main > section, main > article, footer {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100vh;
}

header {
    top: 0;
}
*/
