{% extends 'components/box_plus.html' %}
{% block title %}Forum{% endblock title %}
{% block head %}
<link rel="stylesheet" href="/static/lists/forums.css" />
{% endblock head %}

{%block the_lifted%}

{%endblock%}

{% block after_content %}
<div class="lifted-box" id="posts">
    <h2>Forums</h2>
    <table>
        <tbody>
            {% for forum in forums%}
            <tr>
                <td><strong>Username:</strong> {{ forum.user.username }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <td colspan="2">
                        <h2>{{ forum.topic }}</h2>
                        <p>{{ forum.description }}</p>
                        <button class="btn btn-pink btn-block reply-button" , id="reply-button">Reply</button>
                        {%if forum.user == user%}
                        <form method="post" action="{% url 'delete_forum' forum.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        {%endif%}
                    </td>

                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
<div id="popup" class="popup">
    <form method="post" style="margin: 20px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-pink btn-block">Save Changes</button>
        <button type="button" id="cancelButton" class="btn btn-pink btn-block">Cancel</button>
    </form>
</div>
<button id="fabButton" class="fab-button">+</button>
<script>
    document.addEventListener("DOMContentLoaded", function () {
            const fabButton = document.getElementById("fabButton");
            const popup = document.getElementById("popup");
            const cancelButton = document.getElementById("cancelButton");
            const replyButtons = document.querySelectorAll(".reply-button");

            replyButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    popup.style.display = "block";
                });
            });
            fabButton.addEventListener("click", function () {
                popup.style.display = "block";
            });

            cancelButton.addEventListener("click", function () {
                popup.style.display = "none";
            });

            const form = document.getElementById("forumForm");

        });
    </script>
</script>
{% endblock after_content %}