.input:focus,
.is-focused .input {
  border-color: #98ff98;
  box-shadow: 0 0 0 0.125em rgba(152, 255, 152, 0.25);
}
.button.is-primary,
.is-active {
  background-color: #98ff98;
  color: white;
}
.button.is-primary:hover {
  background-color: #89e789;
}

.card-header-title,
.title.is-mint {
  color: #333;
}
.card-footer-item {
  color: #67db67;
  margin-top: auto; /* Push the footer to the bottom of the flex container */
}
.white-bg {
  background-color: rgb(255, 255, 255);
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if necessary */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease; /* Smooth transition for background */
}
.modal.active .modal-content {
  transform: scale(1); /* Scale up when active */
  opacity: 1; /* Fade in content */
}

.modal.active {
  display: flex;
  opacity: 1; /* Fade in the modal background */
}
/* Updated modal content styling */
.modal-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 40px;
  border: 2px solid #444;
  border-radius: 10px;
  width: auto;
  max-width: 800px;
  max-height: 80%;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Easing out makes the transition look smoother */
  transform: scale(0.5); /* Start scaled down (completely) for a zoom effect */
  opacity: 0; /* Start fully transparent */
}

/* Image container with constrained size */
.modal-img-container {
  max-width: 500px;
  max-height: 500px;
  width: 100%; /* Ensure it's fully responsive */
  display: flex;
  justify-content: flex-end; /* Align image to the right */
  align-items: center; /* Center image vertically */
}

.modal-img-container img {
  max-width: 100%; /* Make sure the image is responsive */
  max-height: 100%; /* Constrain height to the container */
  border-radius: 8px; /* Optional: round corners for the image */
}

/* Title with increased size and boldness */
.modal-content h2 {
  font-size: 30px; /* Larger font size */
  font-weight: bold; /* Bolder font */
  margin-bottom: 10px; /* Space below the title */
  align-self: flex-start; /* Align to the top left */
}

/* Style the "Visit Website" hyperlink */
.modal-content a {
  /* To look like a button */
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem; /* Add some top margin */
  background-color: #98ff98; /* Mint green background */
  color: white; /* White text color */
  text-align: center;
  text-decoration: none; /* No underline */
  border-radius: 10px; /* Rounded borders */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Change color on hover */
.modal-content a:hover {
  background-color: #333; /* Gray background when hovered */
  color: white; /* Ensure text color is white */
}

/* Description with proper alignment */
.modal-content p {
  text-align: left; /* Left align text */
  flex: 1; /* Allow the description to take up space */
  margin-right: 20px; /* Space between description and image */
  margin-bottom: 1rem; /* Add padding below the description */
}
/* Position the close button at the top right corner of the modal */
.close {
  position: absolute;
  right: 1rem; /* 1rem from the right edge */
  top: 0.5rem; /* 1rem from the top edge */
  font-size: 1.5rem; /* Keep the size of the 'X' */
  cursor: pointer;
  transition: color 0.2s ease; /* Transition for color change on hover */
}

.close:hover {
  color: #f00; /* Red color on hover */
}

.card-image {
  width: 450px; /* Set the width of the container */
  height: 100px; /* Set the height of the container */
  overflow: hidden; /* Hide any overflow */
  display: flex; /* Use flexbox for centering the image */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.card-flex-content {
  display: flex; /* Use flexbox to layout the content and image side by side */
  justify-content: space-between; /* Space between content and image */
  align-items: center; /* Vertically center-align the content and image */
}

.card-text-content {
  padding: 10px; /* Add padding around the text */
  padding-right: 20px; /* Additional space between text and image */
}

.card-flex-content {
  display: flex; /* Use flexbox to layout the content and image side by side */
  align-items: center; /* Vertically center-align the content and image */
  padding: 10px; /* Add padding around the entire content and image area */
}
.card-footer-item.bookmark-button {
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.clear-button .button,
#bookbutton {
  width: 100%; /* Set same width for both buttons */
  text-align: center; /* Center the text inside the buttons */
  font-size: 20px;
}

.clear-button .button {
  width: 150px; /* Set same width for both buttons */
}
.columns-wrapper {
  display: flex;
  justify-content: flex-end; /* Align children to the right */
}


.card-footer-item.bookmark-button:hover {
  background-color: #98ff98; /* mint green color */
}

/* Fixed button container for clear and bookmark buttons */
.fixed-button-container {
  position: fixed;
  top: 50%; /* Start at 50% of the viewport height */
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally within this container */
  transform: translateY(
    -50%
  ); /* Shift the container up by half of its own height */
  gap: 10px; /* Space between buttons */
  z-index: 10; /* Ensure it's above other content */
}
/* Remove fixed positioning from individual button classes, use .fixed-button-container */
.clear-button,
.filter-clear-button {
  position: relative; /* Make it relative to .fixed-button-container */
  order: 1; /* Clear button comes first */
}

.card-text-content .title.is-4 {
  margin-bottom: 3rem; /* Add bottom margin for spacing between the title and description */
  font-size: 3rem;
}

.menu-wrapper {
  order: 2; /* Comes after the clear button */
  position: relative; /* Make it relative to .fixed-button-container */
  width: fit-content;
}

#bookbutton {
  order: 3; /* Comes after the tag filter list */
  position: relative; /* Make it relative to .fixed-button-container */
  left: 3px;
}

/* Apply a transition effect to the clear button */
.clear-button .button,
.filter-clear-button .button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ensure the transition effect on hover for the clear button is consistent */
.clear-button .button:hover,
.filter-clear-button .button:hover {
  background-color: #89e789; /* Adjust color if needed */
}

/* Apply a transition effect to the tag buttons (assuming they are anchor tags within .menu-list) */
.menu-list a {
  display: block; /* Make each link a block element */
  text-align: center; /* Center text within each block */
  margin: 0; /* Optional: remove any default margin */
  padding: 0.5rem 1rem; /* Provide some padding for clickability */
  transition: background-color 0.3s ease, color 0.3s ease; /* Existing transition styles */
  font-size: 20px;
}

/* Ensure the transition effect on hover for the tag buttons is consistent */
.menu-list a:hover {
  background-color: #a0dbff; /* mint green color */
  color: rgb(255, 255, 255); /* Optional: change text color on hover */
}

/* Apply a transition effect to the "Showing All Extracurriculars" button */
#bookbutton {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ensure the transition effect on hover for the "Showing All Extracurriculars" button is consistent */
#bookbutton:hover {
  background-color: #89e789; /* Adjust color if needed */
  color: white; /* Optional: change text color on hover */
}

/* If you have active state styles, you may also want to apply the transition */
#bookbutton.is-active {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Adjust hover styles for active state if needed */
#bookbutton.is-active:hover {
  background-color: darken(#98ff98, 90%); /* Example: darken the green color */
}

.menu-wrapper {
  margin: 0;
  padding-left: 3px;
}

/* Adjustments for screen sizes */
@media (max-width: 1000px), (max-height: 768px) {
  .clear-button,
  .menu-wrapper,
  #bookbutton,
  .filter-clear-button {
    position: static;
    transform: none;
    top: auto;
    left: auto;
    margin: 10px 0;
    width: auto;
    display: block;
    order: 0;
  }
}

@media (max-width: 768px) {
  /* All the buttons will be in the normal document flow, without fixed positioning */
  .fixed-button-container {
    position: static;
    display: block; /* Stack buttons and menu vertically */
  }
}

@media (max-width: 480px) {
  .modal-content {
    padding: 10px; /* Less padding on very small screens */
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-left: -15px;
}

/* Adjust the .card class with a transition property for the transform attribute */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adjusted transition */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  min-height: 300px; /* You can adjust this value as needed */
  display: flex; /* Make the card a flex container */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Space between content and footer */
}

/* Define the hover effect on the .card class */
.card:hover {
  transform: scale(1.05); /* Slightly larger scale */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Enhance the shadow for better effect */
}

/* Update the .opportunity-column class to ensure one opportunity per row */
.opportunity-column {
  flex: 0 0 100%; /* Do not allow the item to grow or shrink, and set the base width as 100% */
  max-width: 100%; /* Ensure the max width is limited to 100% */
  /* Padding and box-sizing remain unchanged */
}

.card-flex-content {
  display: flex; /* Use flexbox to layout the content and image side by side */
  justify-content: space-between; /* Space between content and image */
  align-items: center; /* Vertically center-align the content and image */

}

/* Assuming .card-text-content only includes the text description and possibly other metadata */
.card-text-content {
  flex-grow: 1; /* Allows text content to grow and fill the space */
  /* Add any desired padding within the text content area to align text properly */
}


/* Increase the font size for descriptions in opportunity cards */
.card-text-content .subtitle.is-6 {
  font-size: 1.34rem; /* Adjust the font size as needed */

}
.card-image-container {
  width: 400px; /* Width of the image container */
  padding: 10px; /* Add padding around the image */
  border-radius: 1px;
  display: flex; /* Use flex display for vertical centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Take up full height of its container to align children */
  align-self: center; /* Center the image container within the card */
}

.opportunity-preview {
  width: 100%; /* Ensure the image fills the container's width */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Maintain aspect ratio without cropping */
  border-radius: 20px; /* Round the edges of the image */
  padding-top: 10px;
}

/* Add specificity to the custom hover styles to override any potential conflicts from Bulma */
.columns.is-multiline .opportunity-column .card {
  transition: transform 0.3s ease;
}
/* Make sure the container that holds the columns is at 100% width */
.container {
  width: 100%;
  max-width: none; /* Overriding Bulma's .container max-width if necessary */
}

/* Make sure columns span the full width */
.columns {
  margin-right: -0.75rem;
  margin-left: -0.75rem;
  justify-content: stretch; /* Stretch column children to fill the space */
}

/* Make each column take up the full width */
.opportunity-column {
  padding-right: 0.75rem; /* Bulma's gutter spacing */
  padding-left: 0.75rem; /* Bulma's gutter spacing */
  flex: none; /* Override Bulma's default flex values for columns */
  width: 100%; /* Take up 100% of the .columns container */
}

.columns.is-multiline .opportunity-column .card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* You can also define the padding for the container of the opportunity rows if needed */
.columns.is-multiline {
  margin-right: -20px;
  margin-left: -20px;
}

.tag-bubbles-container {
  display: flex; /* Use flexbox to layout the bubbles in a row */
  align-items: center;
  flex-wrap: nowrap; /* Do not allow wrapping */
  margin-left: 1em; /* Space above the tag bubbles */
  margin-bottom: 15px; /* Space below the tag bubbles, above the bookmark button */
}

.tag-bubble {
  background-color: #7fbfff67; /* Slightly gray background for bubbles */
  margin-right: 5px; /* Space between bubbles */
  padding: 5px 10px; /* Padding inside the bubbles */
  border-radius: 15px; /* Rounded corners for bubbles */
  font-size: 0.9em; /* Smaller font size for the bubble text */
  white-space: nowrap; /* Keep the bubble content on one line */
  cursor: pointer; /* Change cursor to indicate hover effect */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.tag-bubble:hover {
  background-color: #98ff98; /* Mint green background on hover */
}

/* Dropdown and hover transition styles */
.dropdown {
  position: relative;
  margin-bottom: 1em;
}

.dropdown-toggle {
  display: block;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
  width: auto;
  padding: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropdown-toggle {
  background-color: #f9f9f9;
}

.dropdown-icon {
  display: inline-block;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.dropdown:hover .dropdown-icon {
  transform: rotate(45deg);
}
