<!DOCTYPE html>
<html lang="en">

{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Credicible{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap" />
    <link rel="stylesheet" href="{% static 'custom.css' %}">
</head>
<body>
    {% block navbar %}
    {% include 'components/navbar.html' %}
    {% endblock navbar %}

    {% block content %}
    {% endblock content %}
</body>
</html>