{% extends 'components/box_plus.html' %}
{% block title %}User Profile{% endblock title %}
{% block head %}
<link rel="stylesheet" href="/static/users/profile.css" />
{% endblock head %}

{% block content %}
<div id="top-content">
    <a href="{% url 'edit_profile' %}">Edit</a>
    <img src="https://picsum.photos/200" id="profile-pic">
    <p id="username">@{{ user.username }}</p>
    <p id="firstname">{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</p>
    <div id="follow">
        <a href="#"><span class="fol-num">{{ user.followers.count }}</span> Followers</a>
        <a href="#"><span class="fol-num">{{ user.following.count }}</span> Following</a>
    </div>
</div>
<div id="bio">
    <p>Bio:</p>
    <div id="bio-text">
        {{ user.bio }}
    </div>
</div>
{% endblock content %}

{% block after_content %}
<div class="lifted-box" id="posts">
    <h2>Posts</h2>
</div>
{% endblock after_content %}