{% extends 'components/box_plus.html' %}
{% block title %}User Profile{% endblock title %}
{% block head %}
<link rel="stylesheet" href="/static/users/profile.css" />
{% endblock head %}

{% block content %}
<div id="content">
    <div id="left-side">
        <h3>Edit Profile</h3>
        <img src="https://picsum.photos/200" id="profile-pic">
        <button>Upload Avatar</button>
    </div>
    <div id="middle-sep"></div>
    <form method="post" id="right-side">
        {% csrf_token %}
        {{ form.as_p }}
        <label>Grade Level</label>
        <select>
            <option>9th Grade</option>
            <option>10th Grade</option>
            <option>11th Grade</option>
            <option>12th Grade</option>
            <button type="submit">Save Changes</button>
        </select>
    </form>
</div>
{% endblock content %}