{% extends 'components/box_plus.html' %}
{% block title %}User Profile{% endblock title %}
{% block head %}
<link rel="stylesheet" href="/static/users/profile_edit.css" />
{% endblock head %}

{% block content %}
<form method="post" id="content" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="left-side">
        <h3>Edit Profile</h3>
        {%if user.profile_image%}
        <img src="{{ user.profile_image.url }}" id="profile-pic">
        {%else%}
        <img src="https://picsum.photos/200" id="profile-pic">
        {%endif%}
        <input accept="image/*" type="file" id="file" name="profile_image" style="display: none;">
        <button type="button" onclick="document.getElementById('file').click();">Upload Avatar</button>
    </div>
    <div id="middle-sep"></div>
    <div id="right-side">
        
        <p>
            {{ form.username.label_tag }} {{ form.username }}
        </p>
        <p>
            {{ form.email.label_tag }} {{ form.email }}
        </p>
        <p>
            {{ form.first_name.label_tag }} {{ form.first_name }}
        </p>
        <p>
            {{ form.last_name.label_tag }} {{ form.last_name }}
        </p>
        <p>
            {{ form.bio.label_tag }} {{ form.bio }}
        </p>
        <!---This is not an error, it works in runtime-->
        <div id="buttons">
            <button type="button" onclick="window.location.href='{% url 'profile' user.username %}';">Cancel</button>
            <input type="submit" value="Save">
        </div>
    </div>
</form>
{% endblock content %}

{% block after_content %}
<script>
    let imgLabel = $("label[for='file']").get(0);
    let imgInput = $("#file").get(0);
    let image = $("#profile-pic").get(0);

    imgInput.onchange = evt => {
        const [file] = imgInput.files;
        if (file) {
            image.src = URL.createObjectURL(file);
            console.log(image.src)
            imgLabel.firstChild.nodeValue = "Uploaded!";
        }
    }
</script>
{% endblock after_content %}