<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}

    {% include 'imports/fonts.html' %}
    {% include 'imports/jquery.html' %}
    {% include 'imports/gsap.html' %}
    {% include 'imports/components.html' %}
    {% include 'imports/box.html' %}

    {% block imports %}
    {% endblock %}
</head>

<body>
    {% block navbar %}
    {% endblock %}
    {% block header %}
    <header>
        <div id="logo-wrap"><a href="/"><img src="/static/logo.png" alt="Main Page" id="logo"></a></div>
    </header>
    {% endblock header %}
    <main>
        <div class="lifted-box">
            {% block content %}

            {% endblock %}
        </div>
        {% block after_lifted %}

        {% endblock %}
    </main>
    {% block after_content %}
    {% endblock after_content %}
</body>

</html>