{% load static %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<nav class="navbar" role="navigation" aria-label="main navigation" style=>
    <div class="navbar-brand" >
      <a class="navbar-item" href="{% url 'home' %}">
        <img class="rounded" id="logo" src="{% static 'navlogo.png' %}" alt="Description of image" style="width: 70px; height: 70px; object-fit: cover;">
      </a>

      <!-- ...mobile hamburger menu etc -->
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'home' %}">Home</a>
        <a class="navbar-item" href="{% url 'opportunity' %}">Extracurricular Database</a>
        <!-- ... other navbar items -->
      </div>

      <div class="navbar-end">
        <a class="navbar-item" href="{% url 'login' %}">Login</a>
        <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
      </div>
    </div>
  </nav>