<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        theme: {
            fontFamily: {
                'sans': ['Poppins', 'sans-serif']
            },
            extend: {
                colors: {
                    'avq': {
                        'purple': {
                            500: '#6C4889'
                        },
                        'pink': {
                            500: "#FFD3E6"
                        }
                    }
                }
            }
        }
    }
</script>